html{
    font-family: 'Lexend', sans-serif;
}
header {
    width: 100%;
    background-color: lightblue;
    color: black;
    padding: 10px 15px;
    border: 12px solid darkgrey;
    border-bottom-color: grey;
    margin: 0 0 2rem 0; 
    box-sizing: border-box;   
}
h1 {
    font: size 35px;
    text-align: center; 
}
h2{
    font: size 25px;
    text-align: center;
}
.container{
    /*display: flex;*/
    margin: 0 auto;
    overflow: auto;
    width: 100%;
}
#Mimi{
   float: left;
   margin: 0 1rem 1rem 0;
   width:600px;
   border: 10px, solid, black; 
}
#Mimi img{
    width:100%;
    border: 10px, solid, black; 
}
p {
    font-size: 24px;
    margin: 0 3rem 3rem;
    left: 60px;
}
/*Ham menu*/
.mainMenu{
    display: none;
}
.mainMenu.toggleCls{
    display: block;
}
@media(min-width: 700px){
    .mainMenu{
        display:  block;
        text-align: center;
        text-decoration: underline;
        list-style-type: none;
    }
    .hamIcon{
        display: none;
    }
}
@media(min-width: 1000px){
    .mainMenu{
        display: block;
        column-count:2;
    }

    .mainMenu.toggleCls{
        display: none;
    }
}

/*Ham menu*/
h3{
    font-size: 33px;
    text-align:center;
}
#list {
    margin:20px;
    column-count: 1;
    font-family: 'Dancing Script', cursive;
}
@media(min-width: 700px){
    #list {
    list-style-type:none;
    column-count: 2;
    font-size: 20px;
    margin-bottom: 60px;
    text-decoration-line: none;
    color: black;
    text-align: center;
    }
}
@media(min-width: 1000px){
    #list {
    list-style-type:none;
    column-count: 4;
    font-size: 20px;
    margin-bottom: 60px;
    text-decoration-line: none;
    color: black;
    text-align: center;
    }
}
a{
    text-decoration: none;
    color: black;
}
li:nth-child(odd) a {
    color:blue
}
li:nth-child(even) a {
    color:black;
}

#comments {
    text-align: center;
    padding-bottom: 25px;
}

#comment-section {
    text-align: center;
    width: 60%;
    background-color: lightblue;
    color: black;
    padding: 10px 15px;
    border: 6px solid darkgrey;
    margin: 0 auto 2rem auto; 
    box-sizing: border-box;
    overflow-wrap:break-word 
}
h4 {
    font-size:15px;
    text-align: center;
}