html{
    font-family: 'Lexend', sans-serif;
}
header {
    width: 100%;
    background-color: lightblue;
    color: black;
    padding: 10px 15px;
    border: 12px solid darkgrey;
    border-bottom-color: grey;
    margin: 0 0 2rem 0; 
    box-sizing: border-box;   
}
#Musings{
    text-decoration: underline;
}
h1 {
    font: size 35px;
    text-align: center; 
}
h2{
    font: size 25px;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    overflow: auto;
    width: 100%;
}
#welcome{
    flex:1 1 0;
}
#Mimi{
    max-width: 600px;
    flex:1 1 0;
}

#Mimi img{
    width: 100%;
    border:10px solid darkgrey;
}
#carona{
    max-width: 600px;
    flex:1 1 0;
}

#carona img{
    width: 100%;
    border:10px solid darkgrey;
}
#Date{
    max-width: 600px;
    min-width:600px;
    flex:1 1 0;
}

#Date img{
    width: 100%;
    border:10px solid darkgrey;
}
#done{
    max-width: 600px;
    flex:1 1 0;
}

#done img{
    width: 100%;
    border:10px solid darkgrey;
}
#Jan{
    max-width: 600px;
    flex:1 1 0;
}

#Jan img{
    width: 100%;
    border:10px solid darkgrey;
}
#lonely{
    max-width: 600px;
    flex:1 1 0;
}

#lonely img{
    width: 100%;
    border:10px solid darkgrey;
}
#matches{
    max-width: 600px;
    flex:1 1 0;
}

#matches img{
    width: 100%;
    border:10px solid darkgrey;
}
#night{
    max-width: 600px;
    flex:1 1 0;
}

#night img{
    width: 100%;
    border:10px solid darkgrey;
}
#parents{
    max-width: 600px;
    flex:1 1 0;
}

#parents img{
    width: 100%;
    border:10px solid darkgrey;
}
#Peter{
    max-width: 600px;
    flex:1 1 0;
}

#Peter img{
    width: 100%;
    border:10px solid darkgrey;
}
#scouting{
    max-width: 600px;
    flex:1 1 0;
}

#scouting img{
    width: 100%;
    border:10px solid darkgrey;
}
#taught{
    max-width: 600px;
    flex:1 1 0;
}

#taught img{
    width: 100%;
    border:10px solid darkgrey;
}
#Whataview{
    max-width: 600px;
    flex:1 1 0;
}

#Whataview img{
    width: 100%;
    border:10px solid darkgrey;
}
p {
    font-size: 24px;
    margin: 0 3rem 3rem;
    left: 60px;
}
/*Ham menu*/
.mainMenu{
    display: none;
}
.mainMenu.toggleCls{
    display: block;
    text-align: center;
    list-style-type: none;
    text-decoration:none;
}
@media(min-width: 700px){
    .mainMenu{
        display:  block;
        text-align: center;
        list-style-type: none;
        text-decoration:underline;
    }
    .hamIcon{
        display: none;
    }
}
@media(min-width: 1000px){
    .mainMenu{
        display: block;
        column-count:2;
        text-decoration:underline;
    }

    .mainMenu.toggleCls{
        display: none;
    }
    .container{
        flex-direction: row;
    }
}
/*Ham menu*/

h3{
    font-size: 33px;
    text-align:center;
    text-decoration:underline;
}
#list {
    margin:20px;
    column-count: 1;
    font-family: 'Dancing Script', cursive;
    list-style-type: none;
    text-align:center;
    margin-bottom: 60px;
    text-decoration-line: none;
    font-size: 20px;
    color: black;
}
@media(min-width: 600px){
    #list {
    column-count: 2;
    color: black;
    }
}
@media(min-width: 800px){
    #list {
    list-style-type:none;
    column-count: 4;
    }
}
a{
    text-decoration: none;
    color: black;
}
li:nth-child(odd) a {
    color:blue
}
li:nth-child(even) a {
    color:black;
}

#comments {
    text-align: center;
    padding-bottom: 25px;
}

#comment-section {
    text-align: center;
    width: 60%;
    background-color: lightblue;
    color: black;
    padding: 10px 15px;
    border: 6px solid darkgrey;
    margin: 0 auto 2rem auto; 
    box-sizing: border-box;
    overflow-wrap:break-word;
}
h4 {
    font-size:15px;
    text-align: center;
}